{% load static  %}
<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flashy</title>

    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'node_modules/angular-material/angular-material.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>


    <script type="text/javascript" src="{% static 'node_modules/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/angular-ui-router/release/angular-ui-router.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js' %}"></script> -->
    <script type="text/javascript" src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/angular-material/angular-material.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/angular-animate/angular-animate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/angular-aria/angular-aria.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'node_modules/angular-touch/angular-touch.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/entry.js' %}"></script>

    <script type="text/javascript" src="{% static 'directives/cardComponent.js' %}"></script>
    <script type="text/javascript" src="{% static 'directives/newCardComponent.js' %}"></script>
    <script type="text/javascript" src="{% static 'directives/hintComponent.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/home.js' %}"></script>

</head>
<body ng-app="userApp">
    {% block content %}{% endblock %}

</body>
</html>