{% extends 'base.html' %}

{% block content %}
{% verbatim  %}
<div ng-controller="homeController" layout="column" ng-cloak flex>
    <md-content>
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-icon class="material-icons"> face </md-icon>

                <h2 flex style="text-align:center" ng-click="toggleFullScreen()">Flashy</h2>
                <!-- <md-select ng-model="selectSession" style="min-width:200px;">
                    <md-option ng-repeat="session in sessions" ng-value="session.id">{{session.desc}}</md-option>
                </md-select> -->

               <md-menu md-position-mode="right bottom">
                    <md-button class="md-icon-button" ng-click="$mdMenu.open()">
                        <md-icon class="maerial-icons">menu</md-icon>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button ui-sref="learn">
                                Learn
                            </md-button>
                        </md-menu-item>

                        <md-menu-item>
                            <md-button ui-sref="cards">
                                Cards
                            </md-button>
                        </md-menu-item>

                        <md-menu-item>
                            <md-button ui-sref="tags">
                                Tags
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button href="/logout">
                                Logout
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                
            </div>
        </md-toolbar>
        <ui-view id="view" class="under-toolbar" style="display: block;padding-bottom:50px;"></ui-view>
        <nav class="mynav">
            <md-button class="mytab" ng-click="switchTab(0)"><md-icon class="material-icons" alt=Home>book</md-icon>Home</md-button>
            <div class="divider"></div>
            <md-button class="mytab" ng-click="switchTab(1)"><md-icon class="material-icons"alt=New>add_circle</md-icon>Add new cards</md-button>
            <div class="underscore"></div>
        </nav>
    </md-content>
</div>
{% endverbatim  %}
{% endblock %}