{% extends 'base.html' %}

{% block content %}
<ons-page ng-controller='homeController'>
    <ons-toolbar>
        <div class="center">Flashy</div>
        <div class="right">
            <ons-toolbar-button>
                <ons-icon icon="fa-bars,md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <ui-view></ui-view>
    <ons-tabbar swipeable position="bottom" ons-prechange="updateTitle($event)">
        <ons-tab page="study.html" label="Learning" icon="fa-book,md-book" active>
        </ons-tab>
        <ons-tab page="create.html" label="Adding cards" icon="fa-plus-square,md-plus-square">
        </ons-tab>
    </ons-tabbar>
</ons-page>

<ons-template id="study.html">
    <ons-page>
        123
        <fl-card></fl-card>
        456
    </ons-page>
</ons-template>

<ons-template id="create.html">
    <ons-page>
        create
    </ons-page>
</ons-template>

{% endblock %}