{% extends 'base.html' %}

{% block content %}
{% verbatim %}
<div ng-controller="LoginController">
    <div uib-carousel active='0' no-wrap="true" template-url="/static/bootstrap-template/carousel.html"  >
        <div uib-slide ng-repeat="page in pages track by $index" index="$index">
            <div ng-style="page.style" class="full-screen">
                <h1 class="carousel-caption">
                    {{ page.content }}
                </h1>
            </div>
        </div>

        <div uib-slide index="pages.length">
            <div style="background-color:rgb(250, 255, 189)" class="full-screen">
            <md-content style="display:initial">
                <form class="col-xs-offset-3 col-xs-6 form-group" style="display:block;top:25%;">
                {% endverbatim %}
                {% csrf_token %}
                {% verbatim %}
                <md-input-container class="md-block" flex-xs>
                    <label>Username</label>
                    <input ng-model="loginInfo.username">
                </md-input-container>

                <md-input-container class="md-block" flex-xs>
                    <label>Password</label>
                    <input type="password" ng-model="loginInfo.password">
                </md-input-container>

                <md-button class="md-raised md-primary" ng-click="login()">
                    Login
                </md-button>
                </form>
                </md-content>
            </div>
        </div>

    </div>
</div>
{% endverbatim %}
{% endblock %}