{% extends 'base.html' %}
{% csrf_token %}

{% block content %}
<ons-page ng-controller="LoginController">
  <ons-carousel fullscreen swipeable auto-scroll overscrollable id="carousel">
    <ons-carousel-item style="background-color: #085078;">
      <div style="text-align: center; font-size: 30px; margin-top: 20px; color: #fff;">
        Welcome1
      </div>
    </ons-carousel-item>
    <ons-carousel-item style="background-color: #373B44;">
      <div style="text-align: center; font-size: 30px; margin-top: 20px; color: #fff;">
        Welcome2
      </div>
    </ons-carousel-item>
    <ons-carousel-item style="background-color: #D38312;">
      <div style="text-align: center; font-size: 30px; margin-top: 20px; color: #fff;">
        Welcome3
      </div>
    </ons-carousel-item>
    <ons-carousel-item>
      <div style="text-align: center; margin-top: 50%">
        <div>
          <ons-input id="username" modifier="material" placeholder="Username" float ng-model="loginInfo.username"></ons-input>
        </div>
        <div>
          <ons-input id="password" modifier="material" type="password" placeholder="Password" float ng-model="loginInfo.password"></ons-input>
        </div>
        <p style="margin-top: 30px;">
          <ons-button ng-click="login()">Sign in</ons-button>
        </p>
      </div>
    </ons-carousel-item>
  </ons-carousel>


<div class="carousel-footer" ng-show="showCarouselFooter">
  <span ng-click="switch(0)"></span>
  <span ng-click="switch(1)"></span>
  <span ng-click="switch(2)"></span>
</div>
</ons-page>
{% endblock %}