<div layout-padding>
    <md-input-container>
        <label>Desc</label>
        <input ng-model="card.description" md-maxlength="256">
    </md-input-container>
    <md-input-container md-no-float ng-repeat="hint in card.hints track by $index">
        <label>Hint{{$index+1}}</label>
        <input ng-model="card.hints[$index]" md-maxlength="120" pattern="[^,]+">
        <md-icon ng-if="card.hints.length < 3 && $first" ng-click="add()" style="left: auto;right: -25px;" md-svg-icon="static/img/add.svg"></md-icon>
        <md-icon ng-click="remove($index)" md-svg-icon="static/img/remove.svg"></md-icon>
    </md-input-container>

    <md-input-container style="display: block">
        <label>Tags</label>

        <md-select ng-model="card.tag"
                    md-on-close="clearSearchTerm()"
                    data-md-container-class="selectdemoSelectHeader"
                    multiple>
            <md-select-header class="demo-select-header">
                <input ng-model="searchTerm"
                    type="search"
                    placeholder="Search for a tag.."
                    class="demo-header-searchbox md-text">
            </md-select-header>
            <md-optgroup label="vegetables">
                <md-option ng-value="tag.id+''" ng-repeat="tag in tags |
                filter:searchTerm">{{tag.desc}}</md-option>
            </md-optgroup>
            </md-select>

    </md-input-container>

    <md-input-container style="display: block">
        <label>Anwser</label>
        <textarea ng-model="card.anwser" md-maxlength="1024" rows="5" md-select-on-focus md-no-autogrow></textarea>
    </md-input-container>
</div>